<p>
  <% unless @decision.user_voted?(current_user) %>
    <%= radio_button_tag 'choice_id', choice.id %>
  <% end %>
  <strong> <%= choice.title %> </strong>
  <p>
    <span> Votes count: <%= decision.votes_by(choice) %> </span>
    <% if @decision.owned_by?(current_user) %>
      <span> <%= link_to 'Edit', edit_decision_choice_path(decision, choice) %> </span>
      <span> <%= link_to 'Delete', decision_choice_path(decision, choice), method: :delete, confirm: 'Are you sure you want to remove this Choice?' %> </span>
    <% end %>
  </p>
</p>
