<h1> Decision Info</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @decision.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @decision.description %>
</p>

<h2>Choices List</h2>
<% if @decision.user_voted?(current_user) %>
  <%= render partial: 'choice', collection: @decision.choices, locals: {decision: @decision} %>
<% else %>
  <%= form_tag votes_path(decision_id: @decision.id), method: :post do %>
    <%= render partial: 'choice', collection: @decision.choices, locals: {decision: @decision} %>
    <%= submit_tag 'Vote' %>
  <% end %>
<% end %>

<h2>Comments</h2>
<% if @decision.messages.blank? %>
  No comments available
<% else %>
  <%= render @decision.messages.recent.reverse %>
<% end %>
<%= form_for [@decision, Message.new] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit 'Create' %>
<% end %>

<% if @decision.owned_by?(current_user) %>
  <%= link_to 'Add New Choice', new_decision_choice_path(@decision) %> |
  <%= link_to 'Edit', edit_decision_path(@decision) %> |
<% end %>
<%= link_to 'Back', decisions_path %>
