<h1> Decision Info</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @decision.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @decision.description %>
</p>

<h2>Choices List</h2>
<%= render partial: 'choice', collection: @decision.choices, locals: {decision: @decision} %>

<%= link_to 'Add New Choice', new_decision_choice_path(@decision) %> |
<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
