<h1> Decision Info</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @decision.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @decision.description %>
</p>

<h2>Choices List</h2>
<% if @decision.user_voted?(current_user) %>
  <%= render @decision.choices %>
<% elsif @decision.choices.present? %>
  <%= form_tag votes_path(decision_id: @decision.id), method: :post do %>
    <%= render @decision.choices %>
    <%= submit_tag 'Vote' %>
  <% end %>
<% else %>
  No choices available
<% end %>
<% if @decision.owned_by?(current_user) %>
  <p><%= link_to 'Add New Choice', new_decision_choice_path(@decision) %></p>
<% end %>

<h2>Comments</h2>
<% if @decision.comments.blank? %>
  No comments available
<% else %>
  <%= render @decision.comments.recent.reverse %>
<% end %>
<%= render 'comments/form' %>

<% if @decision.owned_by?(current_user) %>
  <%= link_to 'Edit', edit_decision_path(@decision) %> |
<% end %>
<%= link_to 'Back', decisions_path %>
