<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @choice.title %>
</p>

<p>
  <b>Decision:</b>
  <%= @choice.decision_id %>
</p>


<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
