<%= form_for(@post) do |f| %>
  <%- if @post.errors.present? %>
    <div class='error-explanation'>
      <h2>
        <%= "#{pluralize(@post.errors.count, 'error')} prohibited this post from being saved" %>
      </h2>
      <ul>
        <%- @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :title %>
  </div>
  <%= f.text_field :title %>
  <div>
    <%= f.label :body %>
  </div>
  <%= f.text_area :body %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
