<% title 'Create new post' %>
<%= form_for(@post) do |f| %>
  <div><%= f.label :title %></div>
  <%= f.text_field :title %>
  <div><%= f.label :body %></div>
  <%= f.text_area :body %>
  <div><%= f.submit %></div>
<% end %>
