<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1><%= title %></h1>

  <% if flash[:notice] %>
    <i><%= flash[:notice] %></i>
  <% end %>

  <%= yield %>

  <%= link_to 'All posts', posts_path %>
  
</body>
</html>
