<!DOCTYPE html>
<html>
<head>
  <title>WorkshopsRor</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navigation'>
    <% if signed_in? %> 
      <%= current_user.email %>
      <%= link_to  'Logout', session_path, method: :delete %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
